<div id="timeline" class="p-24" fxLayout="row wrap">

    <div class="timeline-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="55" fxFlex.gt-md="65">
        <!-------Upload Photos-------------->
        <div class="profile-box add-post">

            <div class="form" fxFlex>
                <textarea type="text" class="form-control" [(ngModel)]="photobio">

                </textarea>
                <footer fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <input type="file" style="display: none" (change)="startUpload($event.target.files , photobio)"
                               #fileinput>
                        <button [disabled]="photobio == null" mat-icon-button aria-label="Add photo"
                                (click)="fileinput.click()" matTooltip="Add Photo">
                            <mat-icon>photo</mat-icon>
                        </button>
                        <div class="attachment-list" *ngIf="uploadState | async; let state">
                            <div class="attachment" fxLayout="row" fxLayoutAlign="space-between center">
                                <div *ngIf="snapshot | async as snap">
                                    <span class="filename">{{filename}}...</span>
                                    <span class="size ml-4"> {{ snap.bytesTransferred | fileSize }}</span>
                                </div>
                                <div *ngIf="uploadState | async; let state">
                                    <button mat-icon-button (click)="task.resume()" [disabled]="state === 'running'">
                                        <mat-icon>play_arrow</mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="task.pause()" [disabled]="state === 'paused'">
                                        <mat-icon>pause</mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="task.cancel()"
                                            [disabled]="!(state === 'paused' || state === 'running')">
                                        <mat-icon color="warn">cancel</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="uploadProgress | async as pct">

                        <mat-progress-bar class="example-margin" color="accent" style="background-color: aliceblue"
                                          mode="determine" [value]="pct"></mat-progress-bar>
                    </div>


                    <input #passurl [value]="(downloadURL | async)" type="hidden"/>
                    <button mat-raised-button class="post-button" (click)="save(passurl.value)" color="accent"
                            aria-label="POST">Save
                    </button>

                </footer>

            </div>

        </div>

        <mat-divider></mat-divider>

        <div class="timeline-item" *ngFor="let item of items | async">

            <header fxLayout="row" fxLayoutAlign="space-between start" *ngIf="authService.userData as user">
                <div class="user" fxLayout="row" fxLayoutAlign="start center">
                    <img class="avatar" src="{{user.photoURL? user.photoURL: '/assets/dummy-user.png'}}">

                    <div fxLayout="column">
                        <div class="title">
                            <span class="username">{{user.displayName}}</span>
                        </div>
                        <div class="time">32 Minutes Ago</div>
                    </div>
                </div>

                <button mat-icon-button aria-label="Delete" (click)="deleteItem(item.key ,item.url)">
                    <mat-icon color="warn">delete</mat-icon>
                </button>
            </header>

            <div class="content">


                <div class="media">
                    <img src="{{item.url }}">
                </div>


            </div>


        </div>
    </div>

</div>

