
<div class="masonry-demo">





    <ngx-masonry [options]="masonryOptions" [useImagesLoaded]="true"  style="position:relative;">
        <ngx-masonry-item *ngFor="let picture of dataservice.items | async" class="masonry-item">
            <img src="{{picture.url}}" style="margin: 10px; width:90%">
            <div style="position:absolute;top:0;right:0;" data-role="fieldcontain">
                <button mat-icon-button aria-label="Delete" (click)="dataservice.deletePhotos(picture.key ,picture.url)">
                    <mat-icon color="warn">delete</mat-icon>
                </button>
            </div>
        </ngx-masonry-item>
    </ngx-masonry>

</div>

